
.super_admin_panel {
    margin-top: 20px;
}

.super_admin_panel .ant-card-head {
    background-color: #f0f2f5;
}

.super_admin_panel .ant-card-head-title {
    font-size: 20px;
    font-weight: bold;
}

.super_admin_panel .ant-card-body {
    padding: 0;
}

.super_admin_panel .ant-table {
    border: 1px solid #f0f2f5;
}

.super_admin_panel .ant-table-thead > tr > th {
    background-color: #f0f2f5;
    font-weight: bold;
}

.super_admin_pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .pagination {
        font-size: 0.75rem;  /* Küçük cihazlarda font boyutunu küçült. */
        flex-wrap: wrap;    /* İçerikleri yeni satıra taşı. */
    }
}

/* Ensure all inputs have the same height */
.custom-input, .form-control {
    height: 38px; /* You can adjust this value to match your design */
}
